# Yandex Cloud
YANDEX_API_KEY=your_yandex_api_key_here
YANDEX_FOLDER_ID=your_folder_id_here

# Qdrant Cloud
QDRANT_URL=your_qdrant_cluster_url_here
QDRANT_API_KEY=your_qdrant_api_key_here

# Model settings
YANDEX_MODEL_URI=
EMBEDDING_MODEL_URI=